:root{
  --grass-color: #89E40C;
  --track-color: #F48B10;
  --grand-stands: #558AF7;
  --homescreen-blue: #0332C0;
  --homescreen-bigfont-color: #58AAFE;
  --homescreen-littlefont-color: #D99D6D;
}

body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
}

.hidden{
  display: none !important;
}

.divider{
  width: 90%;
}

.spacer{
  height: 100px;
}

b{
  color:#FFF;
  text-shadow: 0px 0px 1px #000;
}
#welcomeScreen, #manPageInstructions{
  height: 100vh;
  background-color: var(--homescreen-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#welcomeScreen h1, #manPageInstructions h1{
  padding: 0px;
  margin: 0px;
  font-size: 5em;
  color: var(--homescreen-bigfont-color);
  text-shadow: -2px -2px 3px #fff;
  text-align: center;
}

#welcomeScreen p, #manPageInstructions p{
  color: var(--homescreen-littlefont-color);
  font-size: 2em;
  padding: 5px;
  margin: 5px;
}

#manPage{
  position: fixed;
  width: calc(100% - 80px);
  height: calc(100vh - 80px);
  padding: 20px;
  top: 20px;
  left: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  font-size: 2em;
  border: 3px solid #999;
  box-shadow: 2px 2px 3px #000 inset;
  text-shadow: 0px 0px 1px #000;
  overflow-y: scroll;
}

#manPage p, #manPage hr {
  font-size: 2rem;
  margin-top: 0px;
  padding-top: 0px;
}

.checkMarkArea{
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: #FFF;
  box-shadow: 2px 2px 3px #000 inset;
}

.complete{
  background-color: #00F !important;
  font-size: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px #000;
}

#allChecks{
  display:  flex;
  justify-content: space-around;
}

#gameArea{
  padding: 20px;
  height: calc(100vh - 40px);
  background-color: var(--grass-color);
  background-image: url("images/CrowdImage.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#functionTrial{
  padding: 10px;
  background-color: hsla(360, 100%, 100%, 0.8);
  box-shadow: 1px 1px 3px #000;
}

#functionTrial h1{
  margin-top: 0px;
  padding-top: 5px;

}

#track{
  position: fixed;
  bottom: 60px;
  left: 0px;
  width: 100%;
  height: 200px;
}
.lane{
  position: relative;
  height: 50px;
  width: 100%;
  background-color: var(--track-color);
  border-top: 2px solid #777;
}

#bike img{
  height: 80px;
}

#bike{
  position: absolute;
  left: 150px;
  top: -40px;
  transform:  rotateZ(0deg);
  transition: transform 1s;
}

.wheelie{
  transform: translateY(-15px) rotateZ(-30deg) !important;
  transition: transform 0.1s;
}

.crash{
  animation-name: dang;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes dang {
  from {
    transform:rotateZ(0deg);
  }
  to {
    transform:rotateZ(360deg);
  }
}

.obstacle{
  height: 60px;
  position: absolute;
}

.jumping{
  animation-name: woohoo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes woohoo {
  0% {
    transform: translateY(0px);
  }

  70%{
    transform: translateY(-300px);
  }
  100%{
    transform: translateY(0px);
  }
}

#manPage ul{
  font-family: sans-serif;
  list-style: none;
  padding-left: 5px;
}

#manPage li{
  margin: 20px 0px;
}

#manPage p{
  text-align: center;
  padding-top: 40px;
}
